body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.login-form {
    display: inline-block;
    background-color: #35459c;
    color: white;
    width: 500px;
    height: 420px;
    padding: 20px;
    text-align: center;
    border: 2px solid ; /* Add a border to the login form */
    border-radius: 100px 100px 100px 100px;
    margin: 200px 0 auto; /* Center the login box horizontally */
}

img {
    max-width: 40%; /* Ensure the image doesn't exceed its container width */
    display: inline-block;
    vertical-align: middle; /* Align the image vertically with the login box */
    margin: -300px 5% 0 auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    box-sizing: border-box;
    text-align: left;
}

#login-button {
    background-color: #f3971f;
    width: 100px;
    margin: 20px 0;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sign-in-link {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.sign-in-link a {
    text-decoration: none;
    font-weight: bold;
}

.sign-in-link a:hover {
    text-decoration: underline;
}

#create-profile-button {
    background-color: #f3971f;
    width: 200px;
    margin: 20px 0;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

